* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.task-input {
    outline: none;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #ccc;
    border: 1px solid #288A9F;
    border-radius: 10px;
}

.button-add {
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #288A9F;
    cursor: pointer;
}

.list-item {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0;
    border: 1px solid #ccc;
    padding: 0.5rem 0;
    border-radius: 10px;
    font-weight: bold;
}

.button-complete,
.button-delete,
.button-edit {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5rem
}

.button-complete,
.button-edit {
    margin-right: 10px;
}

.button-complete {
    color: #06d610;
}

.button-edit {
    color: #e2d029;
}

.button-delete {
    color: #dd6b6b;
}

.complete {
    text-decoration: line-through solid  #d60e0e;
    opacity: 0.5;
}

.list {
    width: 50%;
    background-color: #454849;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    overflow-wrap: break-word;
}
input:focus,
button:focus {
    outline: none;
}
.list-total{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
}
.container-listTotal{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.task-complete-footer,
.task-open-footer,
.task-total-footer{
    color: #fff;
}